
.btn {
    padding: 7px 12px;
}

.search {
    margin-top: 60px;
}

.search > h2 {
    color: rgba(55, 170, 27, 1);
    font-size: 30px;
}

.search_input {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 33.33333%;
    min-width: 250px;
}

.form-control:focus {
    border-color: rgba(55, 170, 27, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(55, 170, 27, 1);
}

.search-btn:hover {
    background: rgba(55, 170, 27, 1);
    transition: 150ms linear;
}

.btn:focus,.btn:active {
    outline: none !important;
    background: rgba(55, 170, 27, 1);
    transition: 150ms linear;
}

ul {
    padding: 0px;
    margin: 20px auto;
}

li {
    display: inline-block; margin: auto;
}

.tn {
    margin: 6px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
    border-radius: 10px;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

@media(max-width: 768px) {

    .search {
        margin-top: 120px;
    }

}